@model IEnumerable<Category>

<div class=" rsidebar span_1_of_left">
	<div class="of-left">
		<h3 class="cate">Categories</h3>
	</div>
	<ul class="menu">
		@foreach(var category in Model)
		{
			<li class="item1"><a href="#">@category.Name</a></li>
		}
	</ul>
</div>