@using BookStore.Utility.ConstantsStringSettings
@model BookVM

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add new Book</h4>

                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Book.BookId" />
                    
                    <div class="row">
                        <div class="col-sm-8 col-sm-push-12">
                            <div class="form-group">
                                <label>ISBN</label>
                                <input asp-for="Book.ISBN" type="text" class="form-control" placeholder="Ex: 978-3-16-148410-0">
                                <span asp-validation-for="Book.ISBN" class="text-danger"></span>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label>Title</label>
                                    <input asp-for="Book.Title" type="text" class="form-control" placeholder="Ex: Clean Code">
                                    <span asp-validation-for="Book.Title" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <label>Author</label>
                                    <input asp-for="Book.Author" type="text" class="form-control" placeholder="Ex: Robert C. Martin">
                                    <span asp-validation-for="Book.Author" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label>Publisher</label>
                                    <input asp-for="Book.Publisher" type="text" class="form-control" placeholder="Ex: O’Reilly">
                                    <span asp-validation-for="Book.Publisher" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <label>Category</label>
                                    <select asp-for="Book.CategoryId" asp-items="@Model.CategoryList" class="form-control"></select>
                                    <span asp-validation-for="Book.CategoryId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label>Edition</label>
                                    <input asp-for="Book.Edition" type="text" class="form-control" placeholder="Ex: First edition">
                                    <span asp-validation-for="Book.Edition" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <label>Publication Year</label>
                                    <input asp-for="Book.PublicationYear" type="text" class="form-control" placeholder="Ex: 2008">
                                    <span asp-validation-for="Book.PublicationYear" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label>Price</label>
                                    <input asp-for="Book.Price" type="text" class="form-control">
                                    <span asp-validation-for="Book.Price" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <label>Discount Rate</label>
                                    <input asp-for="Book.DiscountRate" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-6">
                                    <label>Quantity</label>
                                    <input asp-for="Book.Quantity" type="text" min="1" class="form-control">
                                    <span asp-validation-for="Book.Quantity" class="text-danger"></span>
                                </div>
                                <div class="form-group col-6">
                                    <label>Status</label>
                                    <select asp-for="Book.Status" type="text" class="form-control">
                                        <option value="@Status.InStock.ToString().ToLower()">In Stock</option>
                                        <option value="@Status.OutOfStock.ToString().ToLower()">Out of Stock</option>
                                    </select>
                                    <span asp-validation-for="Book.Status" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea rows="10" asp-for="Book.Description" class="form-control"></textarea>
                                <span asp-validation-for="Book.Description" class="text-danger"></span>
                            </div>

                            
                        </div>
                        <div class="col-sm-4 col-sm-pull-12">
                            <div class="custom-file-container" style="max-width: 400px" data-upload-id="myUniqueUploadId">
                                <label>Upload Book Image</label>
                                <label class="custom-file-container__custom-file">
                                    <input type="file"
                                           name="files"
                                           class="custom-file-container__custom-file__custom-file-input"
                                           accept="image/*"
                                           aria-label="Choose File" />
                                    <input type="hidden" name="MAX_FILE_SIZE" value="10485760" />
                                    <span class="custom-file-container__custom-file__custom-file-control"></span>
                                </label>
                                <a href="javascript:void(0)"
                                   class="custom-file-container__image-clear btn btn-sm btn-danger p-1 mt-2"
                                   title="Clear Image">Clear</a>
                                <div class="custom-file-container__image-preview mt-1" style="height:498px">
                                </div>
                            </div>
                            @if (Model != null)
                            {
                                <img src="@Model.Book.ImageUrl" width="200" height="200" />
                            }
                        </div>

                        <div class="col-sm-12">
                            @if (Model.Book.BookId == Guid.Empty)
                            {
                                <button asp-action="Add" type="submit" class="btn btn-primary mr-2">Add</button>
                            }else
                            {
                                <button asp-action="Update" type="submit" class="btn btn-primary mr-2">Update</button>
                            }
                            <button class="btn btn-light">Cancel</button>
                        </div>
                        
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/file-upload-with-preview.min.js"></script>
    <script>
        var upload = new FileUploadWithPreview("myUniqueUploadId");
    </script>
    <partial name="_ValidationScriptsPartial" />
}