.sorting_1 {
    word-wrap: break-word;
    word-break: break-all;
    white-space: normal !important
}

.profileImage {
    background-color: white;
    object-fit: cover;
    width: 292px;
    height: 292px;
    border: 2px dotted #dcdcdc;
    margin-top: 16px;
}

#orderDetails input:disabled {
    background: white;
}